.home {
  background-color: #d1d5db;
  padding: 2rem 3rem;
  display: grid;
  grid-template-rows: 4rem 32rem;
  justify-items: center;
  gap: 1rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
}

.trending {
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: 1fr;
}

.trendingTitle {
  font-size: 2rem;
  text-align: center;
}

.cards {
  width: 100%;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 15rem;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  justify-items: center;
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #d1d5db;
}

.section {
  width: clamp(40rem, calc(100vw - 6rem), 100rem);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

.loading {
  margin-top: 5rem;
  font-size: 4rem;
  text-align: center;
}
