html,
body {
  min-width: 900px;
  min-height: 100%;
  background-color: #d1d5db;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  margin-bottom: 2rem;
  justify-items: center;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
