.nav {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #374151;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottomNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2.5rem;
}

.cartLink {
  padding: 0.75rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.cartLinkPending {
  padding: 0.75rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.cartLinkActive {
  padding: 0.75rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #1f2937;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.categoryLinks {
  padding: 0.75rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.categoryLinksPending {
  padding: 0.75rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.categoryLinksActive {
  padding: 0.75rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  background-color: #1f2937;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
